<div class="title-wrapper-1">
    <div class="landing-title">
            <h1 class="cover-heading">We are the pioneer of driving food sharing culture</h1>
            <p class="lead">Alpha coming soon</p>
  </div>
</div>    
            <br>
            <br>
            <br>
            <br>
            <br>
<div class="title-wrapper-2">
    <div class="signup-title">            
            <h2 class="cover-heading">Confirmation</h2>
            <p class="lead">Thank you for expressing your interest in our upcoming food sharing platform. We will keep you updated for our upcoming development soon</p>
  </div>
</div>

<% @landingpages.each do |l| %>

    <tr>
        <td><%= l.id %></td>
        <td><%= l.email %></td>
    </tr>
<% end %>